<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="./favicon.ico">
    <title>Single Page Vue App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
        <!-- https://getbootstrap.com/docs/4.4/components/navbar/ -->
        <header class="nav navbar-expand-sm navbar-dark bg-dark p-2">
            <a class="navbar-brand" v-on:click="route('')" href="#">Sample App</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" v-bind:class="{active: routePath==''}">
                        <a class="nav-link" v-on:click="route('')" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" v-bind:class="{active: routePath=='About'}">
                        <a class="nav-link" v-on:click.prevent="route('About')" href="#">About</a>
                    </li>
                </ul>
                <div class="ml-auto">
                    <button class="btn btn-outline-light" type="submit">Sign in</button>
                </div>
            </div>
        </header>
        <div class="container-fluid my-2">
            <div v-if="routePath==''">
                <h1>{{title}}</h1>
                <div class="row">
                    <div class="col-6">
                        <div class="card card-default">
                            <div class="card-header">
                                Count
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    {{count}}
                                </div>
                                <button class="btn btn-primary" v-on:click="incrementCount">Increment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="routePath=='About'">
                <h1>About</h1>
            </div>
        </div>
        <nav class="nav fixed-bottom navbar-dark bg-dark px-1">
            <span class="navbar-text navbar-dark">
                Copyright M.J. Rousos
            </span>
        </nav>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
  <script>
      const data = {
          title: 'Hello, world!',
          routePath: '',
          count: 0
      }
      const app = new Vue({
          el: '#app',
          data: data,
          methods: {
              incrementCount: incrementCount,
              route: route
          }
      });

      function incrementCount() {
        app.count++;
      }

      function route(path) {
          app.routePath = path;
      }
  </script>
</html>
